.editorconfig
.project
composer.json
contributing.md
license.txt
readme.rst
.*
/tests
/application/**/config/config.php
/application/**/config/africastalking.php
/application/**/config/database.php
/application/**/config/localrepositoryvars.php
/uploads/logo.png
index.php
/uploads/student_import.xlsx
/uploads/blank_excel_file.xlsx
/uploads/bank_statements/*
log.txt
